

@font-face {
    font-family: 'MontserratBold';
    src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 800;
}


@font-face {
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
    font-style: normal;
}



@-webkit-keyframes rotation_anime_pattern {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation_anime_pattern {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@mixin rotation_anime_duration {
    -webkit-animation: rotation 5s linear;
}

@mixin rotation_anime {

    $animation_name: rotation_anime_pattern;
    $animation_duration: 0.7s;

    -webkit-animation-name: $animation_name; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: $animation_duration; /* Safari 4.0 - 8.0 */
    animation-name: $animation_name;
    animation-duration: $animation_duration;
}




a {

    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #2dbee4;

    &:hover {
        text-decoration: none;
    }
}

body {
    letter-spacing: normal;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}




.wallet-pan-landing {
    background-color: #fff;

    .section-head{
        .left-part{
            .banner-Text{
                 
                   h2{  width: 400px;
                    height: 276px;
                   }
            }
         
        }
    }

    .section-operation {
        background: url(/landing_assets/section-operation-background.svg);

        @media (max-width: 600px) {
            background: none;
            margin-top: 20px;
            padding-top: 10px;
            background-color: #eff3f9;
        }

        background-repeat: no-repeat;
        min-height: 515px;
        background-size: cover;
        background-position-y: bottom;
        padding: 80px 0px 80px 0px;
    }

    .section-about {
        margin-top: -1px;
        padding: 100px 0 100px 0;
        background-color: #eff3f9;

        .landing-title {
        }

        .landing-subtitle {
            margin: 60px auto 0 auto;
        }

        .section-about-boxes-wrapper {
            margin-top: 100px;
            padding-left: 10px;
        }
    }

    .section-faqs-one {
        background: url(/landing_assets/faqs-background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;
        padding: 80px 0px 80px 0px;

        .landing-title {
        }
    }

    .section-faqs-two {
        min-height: 200px;
        margin-bottom: 110px;

        .foot-note {
            padding-top: 39px;
            font-family: Montserrat;
            font-size: 16px;
            line-height: 1.88;
            color: #2c2f32;

            a {
                margin: 0 10px;
                line-height: 1.88;
                color: #2dbee4;
            }
        }
    }
    /*general items*/
    .accordion {
        max-width: 1300px;

        .card-wrapper {
            border-top: solid 1px #dcddde;

            .card {
                border: 0px solid transparent;
                margin: 10px 0px;
                padding: 30px 20px;

                @media (max-width: 600px) {
                    padding: 30px 0px;
                }

                .card-header {
                    background-color: transparent;
                    border-bottom: none;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #2c2f32;

                    @media (max-width: 600px) {
                        padding: 0.75rem 0rem;
                    }

                    span {
                        @media (max-width: 600px) {
                            max-width: 90%;
                            display: inline-block;
                        }
                    }

                    img {
                        float: right;
                    }

                    .card-header-plus {
                        @include rotation_anime;
                        display: block;
                    }

                    .card-header-minus {
                        display: none;
                    }

                    .card-header-plus, .card-header-plus {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        &:last-child {
            border-bottom: solid 1px #dcddde;
        }

        .fillblue {
            .card {
                background-color: #4ec8e80c;

                .card-header {
                    font-size: 20px;
                    font-weight: 800;

                    .card-header-plus {
                        display: none;
                    }

                    .card-header-minus {
                        @include rotation_anime;
                        display: block;
                    }
                }
            }
        }
    }



    .landing-title {
        font-size: 45px;
        font-weight: 800;
        text-align: center;
        color: #2c2f32;
    }

    .landing-subtitle, .landing-subtitle P {
        font-family: Montserrat;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #4a4d4f;
    }

    .landing-subtitle P {
        width: 70%;
    }


    @mixin box-titles {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.5;
        color: #2c2f32;
    }

    @mixin box-subtitles {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.56;
        color: #4a4d4f;
    }


    .iconic-box {
        border-radius: 20px;
        box-shadow: 0 4px 55px 0 #20222319;
        background-color: #ffffff;
        margin: 15px auto;
        text-align: center;
        padding: 10px;

        @media (max-width: 767px) {
            margin: 10px;
            transform: scale(0.9);
        }

        img {
            width: 95px;
            height: 85px;
            margin: 40px auto 0 auto;
            display: block;
        }

        .title {
            padding: 0 30px;
            height: 30px;
            margin-top: 40px;
            @include box-titles;

            @media (max-width: 1000px) {
                padding: 0 5px;
            }
        }

        .subtitle {
            padding: 0 30px;
            margin-top: 15px;
            min-height: 50px;
            @include box-subtitles;

            @media (max-width: 1000px) {
                padding: 0 5px;
            }
        }
    }




    .vertical-iconic-box {
        margin-bottom: 60px;

        .vertical-iconic-box-img-wrapper {
            display: inline-block;
            margin: 0 30px 0 0;
            width: 95px;
            height: 85px;
            vertical-align: top;
        }

        .vertical-iconic-box-text-wrapper {
            display: inline-block;
            max-width: 390px;
            padding: 0 10px;

            .title {
                color: #2c2f32;
                @include box-titles;
            }

            .subtitle {
                margin-top: 10px;
                font-family: Montserrat;
                letter-spacing: -0.2px;
                color: #4a4d4f;
                @include box-subtitles;
            }
        }
    }
}




.twin-section {

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    .left-part {

        @media (max-width: 767px) {
            float: right;
            position: relative;
        }

        .logo-wrapper {
            padding-top: 60px;

            img {
                width: 69%;
                height: 25px;

                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        .banner-Text {
            margin: 125px 0 35px 0;

            h2 {
                font-family: MontserratBold;
                font-size: 75px;
                font-weight: 800;
                color: #2c2f32;
                margin-bottom: 37px;
            }

            p {
                max-width: 420px;
                display: block;
                font-family: Montserrat;
                font-size: 20px;
                line-height: 1.75;
                color: #4a4d4f;
            }
        }
    }

    .right-part {
        background: url(/landing_assets/picture-background.svg);
        background-repeat: no-repeat;
        min-height: 400px;

        @media (max-width: 767px) {
            float: left;
            position: relative;
        }

        & > .row {
            position: absolute;
            z-index: 4;
        }


        .img-wrapper {
            margin-top: -6%;
            position: relative;
            z-index: 0;
            top: 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(/landing_assets/wallet_pan_right_ripple.svg);
            height: 91%;
            min-height: 359px;

            @media (min-width: 900px) {
            }

            @media (min-width: 1440px) {
            }


            .rigth-part-img {
                width: 70%;
                height: 82%;
                position: relative;
                top: 40px;
            }
        }


        .navbar {
            position: relative;
            z-index: 5;
            padding-top: 35px;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #ffffff;

            .navbar-toggler {
                &:focus {
                    border: solid 1px #2dbee4;
                    outline: 5px auto #2dbee4;
                }
            }


            .navbar-nav {


                &:first-child {
                    margin-left: 106px;

                    @media (max-width: 1439px) {
                        margin-left: 10px;
                    }
                }

                .nav-link {
                    width: 47px;
                    height: 18px;
                    margin-right: 39px;
                    color: white;
                    top: -11px;
                    position: relative;

                    &:hover {
                        text-decoration: none;
                    }

                    @media (max-width: 1439px) {
                        margin-right: 20px;
                    }
                }
            }



            .diparted-nav-section {
                float: right;
                margin-left: 80px;

                .nav-link {
                    top: -1px;
                    position: relative;
                }

                .btn-outline-primary {
                    width: 120px;
                    height: 39px;
                    border-radius: 10px;
                    border: solid 1px #2dbee4;
                    color: #fff !important;
                }


                @media (max-width: 1439px) {
                    margin-left: 40px;
                }
            }


            .show {
                background-image: linear-gradient(238deg, rgba(48, 33, 150, 0) 135%, rgba(18, 168, 207, 0.5) -12%), linear-gradient(to bottom, #030a41, #030a41);
                padding: 10px;
                opacity: 0.8;
                border-radius: 10px;


                .navbar-nav {
                    margin-top: 10px;

                    &:first-child {
                        margin-left: 0px;
                    }

                    a {
                        margin-top: 10px;
                        cursor: pointer;
                    }
                }

                .diparted-nav-section {
                    float: left;
                    margin: 0px;
                    width: 100%;

                    a {
                        top: 0px;
                        margin-top: 0px;
                    }

                    Button {
                        border: solid 1px #2dbee4;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
}

.section-footer {
 
    background-color: #2c2f32;
    font-size: 14px;

    @media (max-width: 600px) {
        padding: 0px;
    }

    .footer-wrapper {
        padding: 80px 0 50px 0;
        border-bottom: solid 1px #bebebe;

        @media (max-width: 600px) {
            padding: 30px 0 50px 0;
        }
    }

    .footer-copy-right {
        color: #bebebe;
        font-size: 14px;
        line-height: 2.14;
        margin: 24px 0px;
    }


    .footer-links-header {
        color: #fff;
        font-weight: 800;
    }

    .footer-logo {

        img {
            @media (max-width: 600px) {
                margin-top: 30px;
                margin: 0 auto;
            }
        }
    }

    .footer-logo, .footer-links-header {
        margin-bottom: 36px;
    }

    .footer-links, .footer-text {
        color: #bebebe;
        line-height: 2.14;

        a {
            color: #bebebe;
        }
    }

    .footer-social {
        padding-top: 61px;

        &:first-child {
            margin-left: 0px;
        }

        a {
            width: 24px;
            height: 24px;
            margin: 0px 15px;
        }
    }
}

.login {

    .left-part {

        .banner-Text {
            margin: 100px auto 35px auto;
            max-width: 437px;

            h2, span {
                text-align: center;
                font-family: Montserrat;
            }

            h2 {
                font-size: 30px;
                font-weight: bold;
                color: #2c2f32;
                text-align: left;
                margin-bottom: 20px;
            }

            .hint-bar {
                font-size: 20px;
                line-height: 1.75;
                color: #4a4d4f;
            }
        }

        .custom-form {
            max-width: 400px;
            margin-bottom: 60px;

            button {
                width: 100%;
            }
        }
    }

    .right-part {
        .logo-wrapper {
            margin-top: 100px;
        }

        .subtitle {
            font-size: 28px;
            color: #ffffff;
            margin-top: 20px;
        }
    }

  
}
.form-footer {
    background-image: url(/landing_assets/simple_background.svg);
    background-repeat: no-repeat;
    height: 174px;

    div {
        margin-left: 96px;
        display: block;
        text-align: right;
    }
}


.general-background{
    background-image :  url(/landing_assets/general_background.svg);

}

.custom-form {
    color: #4a4d4f;

    .form-label {
        height: 24px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        color: #4a4d4f;
    }

    .form-group {
        margin-bottom: 20px;
    }
      .input-group-text, .form-input{
            border-radius: 10px;
             border: solid 1px #dedede;
      }
    .form-input {
        height: 45px;
    }

    a {
        margin: 40px 0px 30px 10px;
    }

    .form-footer {
        margin: 20px 0px 60px 0px;
    }

    input[type=password] {
     
    }

    .password-input{
        background-color:#e6f2f5;
    }

     
}

.input-group-password{
    input{
       border-right: 0px !important;
    }
}
 

.click-able{
    background-color:#fff;
    &:hover{
        background-color:darken(#fff, 20%) ;
    }
    
    cursor: pointer;
}
div[type=invalid]
{
    color: red;
    margin-bottom: 0px;
}


@mixin erro_border{border-color: #ed1515 !important;}
.is-invalid{
   @include erro_border;
}
.is-invalid + .input-group-append{
    .input-group-text{
         @include erro_border ;
    }
   
}

.btn-primary{
  
    height: 45px;
    border-radius: 10px;
    background-color: #2dbee4;
}
.outline-primary
{
    border-radius: 10px;
    border: solid 1px #2dbee4;
    height: 45px;
    padding: 14px;
}

.custom-divider{
    border: solid 1px #dedede;
    width:100%;
    display: block;
    height: 2px;
    margin: 25px 0px;
    span{
        height: 24px;
      
        font-size: 16px;
        line-height: 1.5;
        color: #bebebf;
        background-color: #fff;
        top: -13px;
        position: relative;
        width: 40px;
        display: block;
       
    }
}

Button{
    img{
         width: 20px;
    height: 20px;
  margin:0px 10px 0px 10px;
    }
   
}

.center {
    display:block;
    margin: 0 auto;
}

 